.userSettings {
    background-color: $white;
    margin: 0 20px 0 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px $color-2;
    height: 100%;
    width: 30%;

    @include tablet-only {
        order:1;
        margin: 20px;
        width: 100%;
    }
}