.createPost {
    background-color: $color-2;
    margin: 0 20px 0 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px $color-2;
    position: fixed;
    right: 0;
    height: auto;
    width: 30%;
}