.post {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px $color-2;
    margin: 0 0 30px 0;
    background-color: $white;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px 0;
        font-size: 0.8rem;
        align-items: center;
        @include mobile-only {
            flex-direction: column;
            justify-content: flex-start;
        }
        &__author {
            text-transform: capitalize;
        }
    }

    &__image {
        width: 100%;
        padding: 0 0 20px 0;
        border-radius: 20px;
    }

    &__description {
        padding: 0 0 20px 0;
    }

    &__features {
        display: flex;
        justify-content: space-between;
        &__opinion {
            input {
                margin: 0 20px 0 0;
            }
        }
        &__editing {
            button {
                margin: 0 0 0 20px;
            }
        }
    }
}